#donate {
    text-align: center;
    padding: 0%;
    margin: 0%;
    img {
        max-width: 100%;
    }
    p{
        margin: 50px;
        
    }
#donbutt{
    padding: 10px;
        margin-bottom: 100px;
    }
}
h1{
    margin-bottom: 20px;
}
#logo{
    margin: 40px;
}