#artwork{
    background-color: #F8E5D4;
    padding: 20px;
    text-align: center;
    img{
        max-width: 100%;
        padding: 10px;
    }
    >div{
        grid-area: artwork;
        ul{
                display: grid;
                list-style-type: none;
                margin: 10px;
                padding: 20px;
                grid-template-columns: 50% auto;
                grid-template-areas: 
                "#piece1 #piece2"
                "#piece3 #piece4"
                "#piece5 #piece6"
                ;

                @include md {
                    margin: 20px;
                    padding: 20px;
                    grid-template-columns: repeat(3, 1fr) ;
                    grid-template-areas: 
                    "#piece1 #piece2 #piece3"
                    "#piece4 #piece5 #piece6";


            }

            }
        
    }

//-----Artwork-----//

#fullback{
    background-color: #A877D0;
    border-radius: 20px;
    padding: 40px;
}
#pieces{
    background-color: #F8E5D4;
    border-radius: 20px;
    padding: 40px;
}


//-----buttons------//
    #purple{
        background-color: #A877D0;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;
    }
    #yellow{
        background-color: #F1B458;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;
    }
    #green{
        background-color: #398A5F;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;
    }

}
