#tickets {
    background-color: #F8E5D4;
    padding: 20px;
    text-align: center;
    // background-image: url(../img/ticketCovers/ticketsBack.png);
    // display: flex;
    // justify-content: flex-start;
    // width: 100%;
    // background-position: center;

    >div {
        grid-area: tickets;
        align-items: center;

        ul {
            display: grid;
            list-style-type: none;
            margin: 0;
            padding: 0px;
            grid-template-columns: auto;
            grid-template-areas:
                "#womens"
                "#purple"
                "#artistsOfColor"
                "#yellow"
                "#peaceofme"
                "#green"
            ;

            @include md {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "#womens #artistsOfColor #peaceofme";


            }

        }
    }

    #toplogo {
        padding: 40px;
    }

    //----events background----//
    #fullback {
        background-color: #EBA5E8;
        border-radius: 20px;
        padding: 40px;
    }

    #blocks {
        background-color: #F8E5D4;
        border-radius: 20px;
        padding: 40px;
    }

    //-----buttons----// 
    #purple {
        background-color: #A877D0;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;

    }

    #yellow {
        background-color: #F1B458;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;
    }

    #green {
        background-color: #398A5F;
        color: #F8E5D4;
        padding: 15px;
        margin: 10px;
    }
}