/* =============
    Header
============= */
header {
	background-color: #F8E5D4;
    >div {
        display: grid;
        padding: 10px;
        grid-template-columns: 50px 50px auto 50px 50px;
        grid-template-areas: 
        "#eventsLink #donateLink #imageLogo #storeLink #loginLink";
    }
}