/* =============
    Header
============= */
header {
	background-color: #F8E5D4;
    ul {
        display: grid;
        grid-template-areas: 
        "EVENTS DONATE logo STORE LOGIN"
        ;
        grid-template-columns: repeat(5 1fr);
        align-items: center;
        padding: 20px;
        justify-content: center;

        li{
            padding: 20px;
        }

        @include md{
            li{
                padding: 50px;
            }
        }

        @include lg{
            li{
                padding: 70px;
            }
        }

        button{
            text-decoration: none;
        }
        // @include lg {
        //     grid-template-areas: "nav survival";
        //     grid-template-columns: 20% auto;
        // }

        // display: flex;
        // flex-direction: row; 
        // justify-content: space-around;
        // align-items: center;
        // padding: 20px;
        // font-size: small;

        // @include md {
           
        //     font-size: medium;
        // }

        // display: grid;
        // padding: 10px;
        // max-width: 100%;
        // grid-template-columns: 20% 20% 20% 20% 20%;
        // grid-template-areas: 
        // "#eventsLink #donateLink #imageLogo #storeLink #loginLink";
    }
}
