/* =============
    Header
============= */
header {
	background-color: #F8E5D4;
    >div {
        display: grid;
        padding: 10px;
        max-width: 100%;
        grid-template-columns: (5, 1fr);
        grid-template-areas: 
        "#eventsLink #donateLink #imageLogo #storeLink #loginLink";
    }
}