/* =============
    Buttons
============= */
button {
    cursor: pointer;
    border-style: none;
    padding: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
}


// .yellow-button {
//     background-color: $electricYellow;
//     border: none;
//     font-size: rem-calc(16);
//     font-weight: 600;
//     padding: 10px;
//     transition: 0.25s;

//     &:hover {
//         background-color: $black;
//         color: $white;
//     }
// }